﻿@model StoreApp.Models.AddProductViewModel

<span class="categories">
    @Html.DropDownListFor(m => m.Categories[(int)ViewData["index"]].Id,
        (IEnumerable<SelectListItem>)ViewBag.Categories[(int)ViewData["index2"]], "wybierz", new { @class = "form-control", data_index = (int)ViewData["index"] })
    <br />
    @Html.ValidationMessageFor(m => m.Categories[(int)ViewData["index"]].Id, "", new { @class = "text-danger" })
</span>
