﻿@model string

<li>
    [<a href="#" class="glyphicon glyphicon-remove"></a>]
    @if (Model != null)
    {
        @Model
    }
    <input type="hidden" name="Tags" @if (Model != null) { <text>value="@Model"</text> } />
</li>
