﻿@using StoreApp.Models
@model AddProductViewModel

@{
    ViewBag.Title = "Dodaj produkt";
}

<h2>@ViewBag.Title</h2>

<div class="col-sm-10 col-sm-offset-1 col-xs-12">
    @using (Html.BeginForm("AddProduct", "Sales", FormMethod.Post, new { @class = "form-horizontal", id = "addproduct" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label("image", "Dodaj obrazek", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="file" name="image" id="image" />
                <ul id="images" class="list-inline">
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Pictures.Count(); i++)
                        {
                            @Html.Partial("GetImage", Model.Pictures[i], new ViewDataDictionary { { "index", i } })
                        }
                    }
                </ul>
                @Html.TextBoxFor(m => m.Pictures, new { @disabled = "disabled", style = "visibility:hidden;" })
                @Html.ValidationMessageFor(m => m.Pictures, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Categories, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.Partial("GetCategories", Model ?? new AddProductViewModel(), new ViewDataDictionary { { "categories", ViewBag.Categories } })
                <br />
                @Html.ValidationMessageFor(m => m.ValidCategories, "", new { @class = "text-danger" })
                <div style="visibility: hidden;">
                    @Html.TextBoxFor(m => m.ValidCategories, new { Value = Model == null ? false.ToString().ToLower() : Model.ValidCategories.ToString().ToLower(), id = "allcategories" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Amount, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Amount, new { type = "number", @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Price, new { type = "number", @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("addtags", "Tagi", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBox("addtags", "", new { @class = "form-control" }) <input type="button" id="addtag" value="Dodaj tag" />
                <br />
                <ul id="taglist">
                    @if (Model != null)
                    {
                        foreach (var tag in Model.Tags)
                        {
                            @Html.Partial("_TagPartial", (string)tag)
                        }
                    }
                </ul>
                @Html.TextBoxFor(m => m.Tags, new { @disabled = "disabled", style = "visibility:hidden;" })
                @Html.ValidationMessageFor(m => m.Tags, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj produkt" class="btn btn-default" />
            </div>
        </div>
    }
</div>

@section scripts{

    <script type="text/html" id="template">
        @Html.Partial("_TagPartial", "")
    </script>
    <script src="~/Scripts/add-product.js">

    </script>
}