﻿@model StoreApp.Models.PictureViewModel

<li>
    <div class="img-wrapper"><img class="img-rounded fitted-image" src="@($"/Uploads/{Model.Id}.{Model.Extension}")"/></div>
    
    <a class="remove" href="#"><span class="glyphicon glyphicon-remove"></span> usuń obrazek</a>
    @Html.Hidden("Pictures[" + (int)ViewData["index"] + "].Extension", Model.Extension)
    @Html.Hidden("Pictures[" + (int)ViewData["index"] + "].Id", Model.Id)
</li>
