﻿@using StoreApp.Models
@model IEnumerable<DisplayProductViewModel>
@{
    ViewBag.Title = "Szukaj produktów";
}

@Html.Partial("_CategoriesPartial", ViewBag.Categories as object,
    new ViewDataDictionary { { "categoryIds", new int[] { ViewBag.CategoryId } } })
<div class="col-sm-9 col-xs-12">
    <h2>Wyniki wyszukiwania</h2>
    <p>@if (ViewBag.Query != null){
        @: wyszukiwana fraza: @(ViewBag.Query), 
        }kategoria: @(ViewBag.Category)</p>
    @if (Model.Any())
    {
    <ul class="list-group">
        @foreach (var product in Model)
        {
            <li class="list-group-item">
                <ol class="breadcrumb">
                    @foreach (var category in product.Categories)
                    {
                    <li class="active">@category.Name</li>
                    }
                </ol>
                <div>
                    <div class="img-wrapper inline-element">
                        <img class="img-thumbnail fitted-image" src="@($"/Uploads/{product.ProfilePicture.Id}.{product.ProfilePicture.Extension}")" />
                    </div>
                    <div class="inline-element">
                        <h3><a href="@Url.Action("ViewProduct", new { id=product.Id, name=product.Name })">@product.Name</a></h3>
                        Cena: @product.Price zł., ilość: @product.Amount
                    </div>
                </div>
                @foreach (var tag in product.Tags)
                {
                    @($"#{tag.Name}")@:&nbsp;
                }
            </li>
        }
    </ul>
    }
    else
    {
        <h2>Brak produktów dow wyświetlania</h2>
    }
</div>



