﻿@{
    ViewBag.Title = "Strona główna";
}

@if (TempData["success"] != null)
{
<div class="alert alert-success col-sm-offset-3 col-sm-6 col-xs-12" role="alert">
    @TempData["success"]
</div>
}
<div class="clearfix"></div>
    @Html.Partial("_CategoriesPartial", ViewBag.Categories as object)
    <div class="col-sm-9 col-xs-12">
        <h1>Ostatnio dodane produkty</h1>

    </div>
