﻿@model IEnumerable<StoreApp.Models.CategoryViewModel>

<div class="col-sm-3 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Kategorie</div>
        @Html.Partial("_CategoryLevel", Model)
    </div>
</div>
