﻿@model IEnumerable<StoreApp.Models.CategoryViewModel>


<ul>
    @foreach (var category in Model)
    {

        <li>
            @if (category.LowerCategories.Any())
            {
                @:[<a href="#" class="categorynode"><span class="glyphicon glyphicon-plus"></span></a>]
            }
            @Html.ActionLink(category.Name, "GetProducts", new { categoryId = category.Id })
        </li>
        if (category.LowerCategories.Any())
        {
            var categoryIds = ViewBag.CategoryIds;

                <li @if (categoryIds== null || categoryIds != null && ((int[])categoryIds).Any(id => id != category.Id))
                {<text>class= "hidden"</text>}>

                @Html.Partial("_CategoryLevel", category.LowerCategories)

                </li>
        }
    }
</ul>