﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sklep wielobranżowy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{
        if (TempData["modelState"] != null)
        {
            ViewData.ModelState.Merge((ModelStateDictionary)TempData["modelState"]);
        }
    }
    @Html.Partial("_LoginDialog", TempData["model"] ?? new StoreApp.Models.LoginViewModel())
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sklep internetowy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("O sklepie", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_SearchPartial", new StoreApp.Models.SearchViewModel())
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <h1>Sklep wielobranżowy</h1>


            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sklep wielobranżowy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(".categorynode").bind("click", function () {

            var $sign = $(this).children("span");

            $(this).parent().next().toggleClass("hidden");

            $sign.toggleClass("glyphicon-plus").toggleClass("glyphicon-minus");


        });

        $("#login").dialog({
            title: "Zaloguj się",
            buttons: [
                {
                    text: "Zamknij",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ],
            modal: true,
            resizable: false,
            show: "slideDown",
            hide: "slideUp",
            draggable: false,
            autoOpen: @(TempData["autoOpen"] != null ? 1 : 0)
        });

        $("#loginLink").bind("click", function () {

            $("#login").dialog("open");

        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
