﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="nav navbar-nav navbar-right dropdown">
        <button class="btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Moje konto
            <span class="caret"></span>
        </button>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Moje konto", "Index", "Manage")
        </li>
        @if (User.IsInRole("Admin"))
        {
        <li>
            @Html.ActionLink("Nowy produkt", "AddProduct", "Sales")
        </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a></li>
    </ul>
    </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a href="#" id="loginLink">Zaloguj się</a></li>
    </ul>
}
