﻿@using StoreApp.Models
@model SearchViewModel

@using (Html.BeginForm("Search", "Sales", FormMethod.Get, new { @class = "navbar-left navbar-form" }))
{
    <div class="form-group">
        @Html.TextBoxFor(m => m.Query, new { @class= "form-control", placeholder="Szukaj" })

        @Html.DropDownListFor(m => m.Category, (IEnumerable<SelectListItem>)ViewBag.CategoryOptions,
        new { @class= "form-control" })
    </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
}
