﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    list-style: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*img fit*/

.img-wrapper{
    width: 100px;
    height: 100px;  
}

.fitted-image {
    max-height: 100%;
    max-width: 100%;
}

/*search*/

.inline-element{
    display: inline-block;
}